body {
    font-family: Arial, sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

#chat-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#user-input {
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.user-message, .bot-response {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #dcf8c6;
    text-align: right;
}

.bot-response {
    background-color: #f1f0f0;
    text-align: left;
}
